@using Presentation.ViewModels;

@model RoleVM

<h3 class="display-4 text-center text-green"> @ViewData["Result"] </h3>

<div asp-validation-summary="All" class="text-danger">
    <form class="row g-3 mb-5" method="post" asp-action="CreateRole">
        <div>
            <div class="col-auto mb-2" style="max-width: 600px; margin-top: 40px">
                <input asp-for="NewRoleName" class="form-control" placeholder="New Role Name">
                <span asp-validation-for="NewRoleName" class="text-danger"></span>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3"> Add new role </button>
            </div>
        </div>
    </form>
    <form class="row g-3" method="post" asp-action="AddToRole">
        <div>
            <div class="col-auto mb-2" style="max-width: 600px; margin-top: 40px">
                <input asp-for="RoleName" class="form-control" placeholder="Existing Role Name">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="col-auto mb-2" style="max-width: 600px; margin-top: 40px">
                <input asp-for="UserEmail" class="form-control" placeholder="User Email">
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3"> Add user to role </button>
            </div>
        </div>
    </form>
</div>