@using Presentation.ViewModels;

@model CreateRoleVM

@{
    ViewBag.Title = "Create New Role";
}

<form class="row g-3" method="post">
    <div asp-validation-summary="All" class="text-danger">
        <div class="col-auto mb-2" style="max-width: 600px; margin-top: 40px">
            <input asp-for="RoleName" class="form-control" placeholder="Name">
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add new role</button>
        </div>
    </div>
</form>