@using Presentation.ViewModels;
@{
    ViewData["Title"] = "Edit Task";
}

@model TaskVM

<h2 style="text-align: center; margin-top: 60px; margin-bottom: 40px;"> Edit the task </h2>
<h5 class="text-danger" style="text-align: center; margin-top: 60px; margin-bottom: 40px;"> @ViewData["Error"] </h5>

<form method="post" asp-controller="Tasks" asp-action="SaveTask">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <label asp-for="Title" class="my-form-label"> Title: </label>
        <input asp-for="Title" class="form-control form-control-lg" placeholder="Enter title" required>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShortDescr" class="my-form-label"> Short Description: </label>
        <input asp-for="ShortDescr" type="text" class="form-control form-control-lg" placeholder="Enter short description" required>
        <span asp-validation-for="ShortDescr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="my-form-label"> Full Description: </label>
        <textarea asp-for="Description" class="form-control form-control-lg" rows="10" placeholder="Enter full description" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label asp-for="Reward" class="my-form-label"> Reward: </label>
            <input asp-for="Reward" type="number" class="form-control form-control-lg" placeholder="Enter amount" required>
            <span asp-validation-for="Reward" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Deadline" class="my-form-label"> Deadline: </label>
            <input asp-for="Deadline" type="date" class="form-control form-control-lg" required>
            <span asp-validation-for="Deadline" class="text-danger"></span>
        </div>
    </div>
    <div style="margin-top: 40px" class="d-grid gap-1 col-6 mx-auto">
        <button class="btn btn-primary btn-lg" type="submit"> Submit </button>     
    </div>   

    <partial name="_DataSaverPartial" />
</form>